<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
                <h3 class="text-center text-uppercase">{{tituloForm}}</h3>
              <div class="col-7 mx-auto">
                <form novalidate (ngSubmit)="saveCliente()" [formGroup]="clienteForm">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': (clienteForm.get('nombre').touched || clienteForm.get('nombre').dirty) && !clienteForm.get('nombre').valid }">
                    <span class="invalid-feedback">
                      <span *ngIf="clienteForm.get('nombre').errors?.required">
                        Ingresa un nombre.
                      </span>
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" formControlName="apellido" [ngClass]="{'is-invalid': (clienteForm.get('apellido').touched || clienteForm.get('apellido').dirty) && !clienteForm.get('apellido').valid }">
                    <span class="invalid-feedback">
                      <span *ngIf="clienteForm.get('nombre').errors?.required">
                        Ingresa un apellido.
                      </span>
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" formControlName="telefono" [ngClass]="{'is-invalid': (clienteForm.get('telefono').touched || clienteForm.get('telefono').dirty) && !clienteForm.get('telefono').valid }">
                    <span class="invalid-feedback">
                      <span *ngIf="clienteForm.get('nombre').errors?.required">
                        Ingresa un numero de telefono.
                      </span>
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input type="text" class="form-control" formControlName="correo" [ngClass]="{'is-invalid': (clienteForm.get('correo').touched || clienteForm.get('correo').dirty) && !clienteForm.get('correo').valid }">
                    <span class="invalid-feedback">
                      <span *ngIf="clienteForm.get('nombre').errors?.required">
                        Ingresa un correo.
                      </span>
                    </span>
                  </div>
                  <button type="submit" class="btn btn-outline-primary" [disabled]="!clienteForm.valid">ACEPTAR</button>
                  <a [routerLink]="['/clientes']" class="btn btn-outline-secondary mx-3">CANCELAR</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
